<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>Amit Test</h5>
                    <p>{{"PROVIDERS_PROFILE.Provider's profile and sharing settings" | translate}}</p>
                </div>
                <button class="primary-btn action-btn" [matMenuTriggerFor]="actions">
                    <img src="../../../../assets/icons/actions.png" />
                    {{"COMMON.Actions" | translate}}
                </button>
                <mat-menu #actions="matMenu" class="actions-menu">
                    <button mat-menu-item ><img src="../../../../assets/icons/cameraIcon.png" style="width: 20px;height: 20px;"/>{{"PROVIDERS_PROFILE.Update Avatar" | translate}}</button>
                    <button mat-menu-item><img src="../../../../assets/icons/trashIcon.png"  style="width: 20px;height: 20px;"/> {{"COMMON.Archive" | translate}}</button>
                </mat-menu>
            </div>
            <div class="stats d-flex justify-space-between align-center g-20">
                <div class="stats-card">
                    <h6>{{"PROVIDERS_PROFILE.Monthly Fees" | translate}}</h6>
                    <h3>$ 120.00</h3>
                    <p>{{"COMMON.September" | translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{"PROVIDERS_PROFILE.Followers"|translate}}</h6>
                    <h3>10</h3>
                    <p>{{"COMMON.Active"|translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{"PROVIDERS_PROFILE.Follower Growth"|translate}}</h6>
                    <h3>0</h3>
                    <p>{{"COMMON.September"|translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{"PROVIDERS_PROFILE.Closed Profit (Own)"| translate}}</h6>
                    <h3>$ 450.00</h3>
                    <p>{{"COMMON.September"|translate}}</p>
                </div>
            </div>

            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Common Information"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's common settings"|translate}}</p>
                            <button class="edit-btn info-section-btn" (click)="openCommonInfoDialog()">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Nickname"|translate}}</h6>
                                    <p>Amit Test</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Show account name"|translate}}</h6>
                                    <p>False</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Personal details of account"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Description of trading strategy by its owner"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Summary"|translate}}</h6>
                                    <p>No summary</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Notes"|translate}}</h6>
                                    <p>No notes</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Strategy"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's settings of publishing deals"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Hide stops"|translate}}</h6>
                                    <p>False</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Strategy Mode"|translate}}</h6>
                                    <p>All</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Finance"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Provider's finance settings"|translate}}</p>
                            <button class="edit-btn info-section-btn">
                                {{"COMMON.Edit"|translate}}
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Fee receiver account"|translate}}</h6>
                                    <p>Test IB</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>{{"PROVIDERS_PROFILE.Offers"|translate}}</h4>
                            <p>{{"PROVIDERS_PROFILE.Sets of subscription conditions"|translate}}</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="d-flex justify-space-between g-10">
                                <div>
                                    <!-- <button class="secondary-btn">
                                        Scope
                                    </button> -->
                                    <mat-form-field class="subs-scopeSelect">
                                        <mat-label>{{"PROVIDERS_PROFILE.Scope" | translate}}</mat-label>
                                        <mat-select>
                                          <mat-option value="active">{{"COMMON.Active"|translate}}</mat-option>
                                          <mat-option value="all">{{"COMMON.All"| translate}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div><h4 class="divider">|</h4></div>
                                <div class="d-flex justify-center g-10 align-baseline">
                                    <button class="secondary-btn">
                                        <img src="../../../../assets/icons/rotateIcon.svg" />
                                        {{"COMMON.Refresh"|translate}}
                                    </button>
                                    <button class="primary-btn">
                                        <img src="../../../../assets/icons/plusIcon.png" />
                                        {{"COMMON.Create"|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 150px" [rowData]="OffersRows"
                                [columnDefs]="OffersCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"PROVIDERS_PROFILE.Personal Info"|translate}}</h4>
                        <p>{{"PROVIDERS_PROFILE.Update your personal details here"|translate}}</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Information"|translate}}</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{"COMMON.Active"|translate}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Registered" | translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>5/16/23, 9:43:29 AM</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>{{"PROVIDERS_PROFILE.Trading Account"|translate}}</h6>
                                    <img src="../../../../assets/icons/rightIcon.png" />
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT name"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>Test IB</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.MT login"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>2009208646</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{"COMMON.Active"|translate}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Created (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>September 16, 2024 at 6:02:20 AM</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"PROVIDERS_PROFILE.Updated (UTC)"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>October 14, 2024 at 1:05:51 PM</h6>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                    <mat-tab label="Subscriptions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="SubsRows"
                                [columnDefs]="SubsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Positions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="PositionsRows"
                                [columnDefs]="PositionsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Deals">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="DealsRows"
                                [columnDefs]="DealsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Fees">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="FeesRows"
                                [columnDefs]="FeesCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                  </mat-tab-group>

                <!-- <div class="header d-flex justify-space-between align-center pb-20">
                    <div class="header-title">
                        <h5>Subscriptions</h5>
                    </div>
                </div> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>