<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>Amit Test</h5>
                    <p>Provider's profile and sharing settings</p>
                </div>
                <button class="primary-btn action-btn" [matMenuTriggerFor]="actions">
                    <img src="../../../../assets/icons/actions.png" />
                    Actions
                </button>
                <mat-menu #actions="matMenu" class="actions-menu">
                    <button mat-menu-item ><img src="../../../../assets/icons/cameraIcon.png" style="width: 20px;height: 20px;"/>Update Avatar</button>
                    <button mat-menu-item><img src="../../../../assets/icons/trashIcon.png"  style="width: 20px;height: 20px;"/> Archive</button>
                </mat-menu>
            </div>
            <div class="stats d-flex justify-space-between align-center g-20">
                <div class="stats-card">
                    <h6>Monthly Fees</h6>
                    <h3>$ 120.00</h3>
                    <p>September</p>
                </div>
                <div class="stats-card">
                    <h6>Followers</h6>
                    <h3>10</h3>
                    <p>Active</p>
                </div>
                <div class="stats-card">
                    <h6>Follower Growth</h6>
                    <h3>0</h3>
                    <p>September</p>
                </div>
                <div class="stats-card">
                    <h6>Closed profit (own)</h6>
                    <h3>$ 450.00</h3>
                    <p>September</p>
                </div>
            </div>

            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Common Information</h4>
                            <p>Provider's common settings</p>
                            <button class="edit-btn info-section-btn" (click)="openCommonInfoDialog()">
                                Edit
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Nickname</h6>
                                    <p>Amit Test</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Show account name</h6>
                                    <p>False</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Personal details of account</h4>
                            <p>Description of trading strategy by its owner</p>
                            <button class="edit-btn info-section-btn">
                                Edit
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Summary</h6>
                                    <p>No summary</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Notes</h6>
                                    <p>No notes</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Strategy</h4>
                            <p>Provider's settings of publishing deals</p>
                            <button class="edit-btn info-section-btn">
                                Edit
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Hide stops</h6>
                                    <p>False</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Strategy mode</h6>
                                    <p>All</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Finance</h4>
                            <p>Provider's finance settings</p>
                            <button class="edit-btn info-section-btn">
                                Edit
                            </button>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Fee receiver account</h6>
                                    <p>Test IB</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Offers</h4>
                            <p>Sets of subscription conditions</p>
                        </div>
                        <div class="info-section-left-items">
                            <div class="d-flex justify-space-between g-10">
                                <div>
                                    <!-- <button class="secondary-btn">
                                        Scope
                                    </button> -->
                                    <mat-form-field class="subs-scopeSelect">
                                        <mat-label>Scope</mat-label>
                                        <mat-select>
                                          <mat-option value="active">Active</mat-option>
                                          <mat-option value="all">All</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div><h4 class="divider">|</h4></div>
                                <div class="d-flex justify-center g-10 align-baseline">
                                    <button class="secondary-btn">
                                        <img src="../../../../assets/icons/rotateIcon.svg" />
                                        Refresh
                                    </button>
                                    <button class="primary-btn">
                                        <img src="../../../../assets/icons/plusIcon.png" />
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 150px" [rowData]="OffersRows"
                                [columnDefs]="OffersCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>Personal Info</h4>
                        <p>Update your personal details here.</p>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>Information</h6>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>State</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● Active</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>Registered</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>5/16/23, 9:43:29 AM</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="header d-flex justify-space-between align-center">
                                    <h6>Trading Account</h6>
                                    <img src="../../../../assets/icons/rightIcon.png" />
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>MT name</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>Test IB</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>MT login</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>2009208646</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>State</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● Active</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>Created (UTC)</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>September 16, 2024 at 6:02:20 AM</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>Updated (UTC)</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>October 14, 2024 at 1:05:51 PM</h6>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                    <mat-tab label="Subscriptions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="SubsRows"
                                [columnDefs]="SubsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Positions">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="PositionsRows"
                                [columnDefs]="PositionsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Deals">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="DealsRows"
                                [columnDefs]="DealsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Fees">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="FeesRows"
                                [columnDefs]="FeesCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                  </mat-tab-group>

                <!-- <div class="header d-flex justify-space-between align-center pb-20">
                    <div class="header-title">
                        <h5>Subscriptions</h5>
                    </div>
                </div> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>