<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>Amit Test</h5>
                    <p>Provider's profile and sharing settings</p>
                </div>
                <button class="primary-btn">
                    <img src="../../../../assets/icons/actions.png" />
                    Actions
                </button>
            </div>
            <div class="stats d-flex justify-space-between align-center g-20">
                <div class="stats-card">
                    <h6>Monthly Fees</h6>
                    <h3>$ 120.00</h3>
                    <p>September</p>
                </div>
                <div class="stats-card">
                    <h6>Followers</h6>
                    <h3>10</h3>
                    <p>Active</p>
                </div>
                <div class="stats-card">
                    <h6>Follower Growth</h6>
                    <h3>0</h3>
                    <p>September</p>
                </div>
                <div class="stats-card">
                    <h6>Closed profit (own)</h6>
                    <h3>$ 450.00</h3>
                    <p>September</p>
                </div>
            </div>

            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left d-flex justify-space-between">
                    <div class="info-section-items">
                        <h4>Common Information</h4>
                        <p>Provider's common settings</p>
                        <button class="secondary-btn info-section-btn">
                            Edit
                        </button>
                    </div>
                    <div class="info-section-items info-section-items-card">
                        <mat-card appearance="outlined">
                            <div class="d-flex justify-space-between align-center">
                                <h6>Nickname</h6> <p>Amit Test</p>
                            </div>
                            <div class="d-flex justify-space-between align-center">
                                <h6>Show account name</h6> <p>False</p>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="info-section-right">

                </div>
            </div>

            <div class="metrics-table">
                <div class="header d-flex justify-space-between align-center">
                    <div class="header-title">
                        <h5>Provider Metrics</h5>
                        <p>Metrics of individual providers</p>
                    </div>
                    <div class="header-buttons d-flex justify-space-between align-center g-20">
                        <button class="secondary-btn">
                            <img src="../../../../assets/icons/rotate-ccw.png" />
                            Refresh
                        </button>
                        <button class="primary-btn">
                            <img src="../../../../assets/icons/plusIcon.png" />
                            Create
                        </button>
                    </div>
                </div>
                <div class="table">
                    <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="rowData"
                        [columnDefs]="colDefs" [suppressRowHoverHighlight]="true">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>