<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>Subscription Profile #{{subsId}}</h5>
                    <p>General information about the subscription</p>
                </div>
            </div>

            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Subscription Strategy</h4>
                            <p>Follower's copying preferences</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Volume scaling</h6>
                                    <p>Multiply</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Offer</h4>
                            <p>Conditions of copying for the follower</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Title</h6>
                                    <a [routerLink]="'/offers/1'"><p>Test Offer</p></a>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Performance fee</h6>
                                    <p>10% (Per trade)</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100">
                        <div class="info-section-left-items">
                            <h4>Trading account</h4>
                            <p>Follower’s account on the trading platform</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>MT name</h6>
                                    <p>Christina Nathan Test</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>MT login</h6>
                                    <p>2009215308</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>Equity</h6>
                                    <p>$5,020.30</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>Info</h4>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>State</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● Active</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>Status</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● Active</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>Registered</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>5/16/23, 9:43:29 AM</h6>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                    <mat-tab label="Fees">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.png" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotate-ccw.png" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="SubsRows"
                                [columnDefs]="SubsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Trading Results">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.png" />
                                Filters
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotate-ccw.png" />
                                Refresh
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="PositionsRows"
                                [columnDefs]="PositionsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                  </mat-tab-group>

                <!-- <div class="header d-flex justify-space-between align-center pb-20">
                    <div class="header-title">
                        <h5>Subscriptions</h5>
                    </div>
                </div> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>