<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{"SUBSCRIPTION.Subscription Profile"|translate}} #{{subsId}}</h5>
                    <p>{{"SUBSCRIPTION.General information about the subscription"|translate}}</p>
                </div>
            </div>

            <div class="info-section d-flex justify-space-between">
                <div class="info-section-left">
                    <div class="d-flex justify-space-between w-100 pb-10">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Subscription Strategy"|translate}}</h4>
                            <p>{{"SUBSCRIPTION.Follower's copying preferences"|translate}}</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Volume scaling"|translate}}</h6>
                                    <p>Multiply</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 pb-10">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Offer"|translate}}</h4>
                            <p>Conditions of copying for the follower</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Title"|translate}}</h6>
                                    <a [routerLink]="'/offers/1'"><p>Test Offer</p></a>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Performance fee"|translate}}</h6>
                                    <p>10% (Per trade)</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-space-between w-100 pb-10">
                        <div class="info-section-left-items">
                            <h4>{{"SUBSCRIPTION.Trading account"|translate}}</h4>
                            <p>Follower’s account on the trading platform</p>
                        </div>
                        <div class="info-section-left-items info-section-left-items-card">
                            <mat-card appearance="outlined">
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.MT name"|translate}}</h6>
                                    <p>Christina Nathan Test</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.MT login"|translate}}</h6>
                                    <p>2009215308</p>
                                </div>
                                <div class="d-flex justify-space-between align-center">
                                    <h6>{{"SUBSCRIPTION.Equity"|translate}}</h6>
                                    <p>$5,020.30</p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="info-section-right">
                    <div class="info-section-right-header">
                        <h4>{{"COMMON.Info"|translate}}</h4>
                    </div>
                    <hr />
                    <div class="info-section-right-card">
                        <mat-card appearance="outlined">
                            <div class="items">
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.State"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{"COMMON.Active"|translate}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"COMMON.Status"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6 class="status-badge">● {{"COMMON.Active"|translate}}</h6>
                                    </div>
                                </div>
                                <div class="d-flex justify-center items-main">
                                    <div class="items-left">
                                        <h6>{{"SUBSCRIPTION.Registered"|translate}}</h6>
                                    </div>
                                    <div class="items-right">
                                        <h6>5/16/23, 9:43:29 AM</h6>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="metrics-table">

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                    <mat-tab label="Fees">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="SubsRows"
                                [columnDefs]="SubsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Trading Results">
                        <div class="header-buttons d-flex justify-space-between pb-20">
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/filterIcon.svg" />
                                {{"COMMON.Filters"|translate}}
                            </button>
                            <button class="secondary-btn">
                                <img src="../../../../assets/icons/rotateIcon.svg" />
                                {{"COMMON.Refresh"|translate}}
                            </button>
                        </div>
                        <div class="table">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="PositionsRows"
                                [columnDefs]="PositionsCols" [suppressRowHoverHighlight]="true">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                  </mat-tab-group>

                <!-- <div class="header d-flex justify-space-between align-center pb-20">
                    <div class="header-title">
                        <h5>Subscriptions</h5>
                    </div>
                </div> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>