<div class="login-screen">
    <mat-card class="login-card">
        <mat-card-content>
            <img class="login-logo" src="../../../assets/images/ICM Logo Default 1.png">
            <div class="login-text-content">
                <h4>Social Trading</h4>
                <p>Administration portal.</p>
                <p>Use your administrator's or staff member's credentials to login.</p>
            </div>
            <div class="login-form">
                <div class="login-form-content">
                    <div class="input-div">
                        <label >
                            Username
                        </label>
                        <input type="text"/>
                    </div>
                </div>
                <div class="login-form-content">
                    <div class="input-div">
                        <label >
                            Password
                        </label>
                        <input type="password"/>
                    </div>
                </div>
            </div>
            <div class="login-form-actions">
                <div class="remember-me">
                    <input type="checkbox"/>
                    <p>Remember for 30 days</p>
                </div>
                <div class="forgot-password">
                    <p>Forgot Password</p>
                </div>
            </div>
            <div class="login-form-button">
                <button mat-flat-button>Log in</button>
            </div>
            <div class="login-form-footer">
                <p>
                    To register an ICM Account. <span> Click here! </span>
                </p>
                <p>
                    If you already have existing ICM Account.  <span> Click here! </span>
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
  
 