.stats-info {
    display: flex;
    justify-content: space-between;

    h5 {
        font-size: 20px;
    }
}

.stats-subline {
    p {
        .positive {
            color: #027A48;
        }

        .negative {
            color: #B42318;
        }
    }
}

.info-section {
    padding-block: 50px;

    .info-section-left {
        width: 70%;

        .info-section-left-items {
            width: 100%;
            padding: 15px;
            height: fit-content;
            h4 {
                font-size: 20px;
                margin: unset;
            }

            p {
                font-size: 16px;
                color: #667085;
            }

            h6 {
                font-size: 18px;
                margin: unset;
            }
            .divider{
                font-size: 40px;
                padding-top: 5px;
                color: #D0D5DD;
                font-weight: 100;
            }

        }

        .info-section-left-items-card {
            border: 2px solid #EAECF0;
            border-radius: 10px;
            height: fit-content;
            .mat-mdc-card {
                border: none !important;
            }
        }
    }

    .info-section-right {
        width: 25%;

        .info-section-right-header {

            h4 {
                font-size: 20px;
                margin: unset;
            }

            p {
                font-size: 16px;
                color: #667085;
            }

            h6 {
                font-size: 18px;
                margin: unset;
            }

        }

        hr {
            border-top: 1px solid #EAECF0;
            margin-block: 20px;
        }

        .info-section-right-card {
            h6 {
                font-size: 15px;
            }

            .items {
                padding-block: 5px;

                .items-main {
                    width: 100%;
                    padding-block: 10px;

                    .items-left {
                        padding: 8px 20px;
                        width: 50%;
                        border: 1px solid #D0D5DD;
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        color: #667085;
                        font-weight: 400;
                    }

                    .items-right {
                        padding: 8px 20px;
                        width: 100%;
                        border: 1px solid #D0D5DD;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;

                        .status-badge {
                            background: #ECFDF3;
                            width: 50%;
                            padding: 0px 10px;
                            border-radius: 16px;
                            color: #027A48;
                        }

                    }
                }
            }
            .mat-mdc-card{
                border: none !important;
            } 
        }
    }
}

::ng-deep .subs-status-header .ag-header-cell-comp-wrapper .ag-header-cell-label{
    display: flex;
    justify-content: center;
  }
  ::ng-deep .subs-volScaling-header .ag-header-cell-comp-wrapper .ag-header-cell-label{
    display: flex;
    justify-content: center;
  }
::ng-deep .providerProfile-tabGroup .mdc-tab__text-label{
    font-size: 20px !important;
    font-weight: 400;
    color: #667085 !important;
}
::ng-deep .providerProfile-tabGroup .mdc-tab{
    padding: 0 50px !important;
}

::ng-deep .offers-statusSelect .mdc-text-field {
    background-color: white !important;
    border: 1px solid;
    border-bottom: 0px solid;
    width: 150px;
  }
  ::ng-deep .offers-agentField .mdc-text-field {
    background-color: white !important;
    border: 1px solid;
    border-bottom: 0px solid;
    width: 150px;
  }
  ::ng-deep .offers-keyField .mdc-text-field {
    background-color: white !important;
    border: 1px solid;
    border-bottom: 0px solid;
    width: 150px;
  }

  ::ng-deep .actions-menu .mat-mdc-menu-panel{
    background-color: white !important;
  }
  ::ng-deep .actions-menu .mat-mdc-menu-content {
    background-color: white !important;
  }
  ::ng-deep .actions-menu .mat-mdc-menu-item{
    padding-left: 20px;
    padding-right: 20px;
    .mat-mdc-menu-item-text{
        font-size: 17px !important;
        display: flex;
        gap: 20px;
        align-items: center;
    }
  }

 ::ng-deep .providerProfile-commonInfo{
    width: 600px !important;
    border-radius: 10px !important;
    .mat-mdc-dialog-title{
        margin: unset !important;
        padding-bottom: 10px !important;
    }
    .mat-mdc-dialog-surface{
        border-radius: 10px !important;
        background: white !important;
        padding: 20px !important;
    }
    .commonInfo-Email{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
    .commonInfo-Scope{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
  }


