.tableActionBtn {
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;

    transition: background-color 0.3s linear, border-radius 0.3s linear, padding 0.3s linear, width 0.3s linear; 
}

.tableActionBtn:hover {
    background-color: #e3e3e396;
    border-radius: 6px;
}
