@use '@angular/material' as mat;

.profile-header-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
    .provider-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
      }
}
.assets-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
    width: 50%;
    h6{
        font-size: 18px;
    }
}
.returns-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
    width: 50%;
    h6{
        font-size: 18px;
    }
}
.sub-heading{
    font-size: 14px;
    color: #667085;
}
.values-icon1{
    height: 50px;
    width: 80px;
}
.values-icon2{
    height: 50px;
    width: 120px;
}
.assets-badge{
    background: #e3e3e396;
    padding: 5px;
    border-radius: 16px;
    .mat-button-toggle-group{
        border: none !important;
        .mat-button-toggle{
            border-left: none !important;
            border-radius: 20px;
            width: fit-content !important;
            min-width: 70px !important;
            ::ng-deep .mat-button-toggle-label-content{
                line-height: 30px !important;
            }
        }
        .mat-button-toggle-checked {
            background: #F9FAFB !important;
        }
        .mat-button-toggle-checked:hover {
            background: none !important
        }
    }
}
.assets-divider{
    border-top-color: #EAECF0 !important;
    padding-bottom: 20px;
}

.performance-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
    h6{
        font-size: 18px;
    }

    ::ng-deep .performance-select .mdc-text-field {
        background-color: white !important;
        border: 1px solid;
        border-bottom: 0px solid;
        width: 150px;
    }

    .filter-opts {
        width: 250px;
        background-color: white;
    
        @include mat.form-field-density(-2);
    
        ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }
    .pieChart-value{
        .positive{
            color: #12B76A;
        }
        .negative{
            color: #D92D20;
        }
    }
}

.performance-badge{
    padding: 5px;
    // border-radius: 16px;
    .mat-button-toggle-group{
        border: none !important;
        border-radius: 7px !important;
        .mat-button-toggle{
            border-left: none !important;
            border-radius: 7px;
            width: fit-content !important;
            min-width: 70px !important;
            ::ng-deep .mat-button-toggle-label-content{
                line-height: 30px !important;
            }
        }
        .mat-button-toggle-checked {
            background: #e3e3e396 !important;
        }
        .mat-button-toggle-checked:hover {
            background: none !important
        }
    }
}
.risk-tab{
    .trading-card{
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 3px 0px #1018281A;
        padding: 20px 24px;
        border-radius: 8px;
        width: 50%;
        h6{
            font-size: 18px;
        }
    }
    .strategy-card{
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 3px 0px #1018281A;
        padding: 20px 24px;
        border-radius: 8px;
        width: 50%;
        h6{
            font-size: 18px;
        }
        .strategy-value {
            padding-block: 25px;
            p{
                font-size: 14px;
            }
            .positive{
                color: #12B76A;
            }
            .negative{
                color: #D92D20;
            }
        }
    }
}
.portfolio-tab{
    .porflio-card{
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 3px 0px #1018281A;
        padding: 20px 24px;
        border-radius: 8px;
        width: 33.33%;
    }
}

.badge {
    padding: 4px 4px 4px 12px;
    background-color: #FEF3F2;
    border-radius: 16px;

    p {
      color: #B42318;
      font-size: 12px;
    }

    .badge-count {
      background-color: #D92D20;
      padding: 2px 8px;
      border-radius: 16px;

      p {
        color: white;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .provider-list-profile-table{
    padding-top: 30px;
    @include mat.form-field-density(-2);
    .search-provider-field{
      background-color: white;
      position: relative; /* To position child elements properly */
      display: flex;
      align-items: center;
      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
      }
      ::ng-deep .mat-label{
        padding-left: 30px !important;
      }
      ::ng-deep .mat-mdc-form-field-icon-prefix  .mat-icon {
        height: 20px;
        padding-right: 0 !important; /* Overrides default padding */
    }
    }
    .search-provider-field img[matPrefix] {
      margin-right: 8px; /* Add spacing between icon and input */
      vertical-align: middle;
      position: absolute;
      left: 12px; /* Adjust padding to match design */
      top: 50%;
      transform: translateY(-50%); /* Center the icon vertically */
    }
  }

  