<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="pb-20 d-flex justify-start">
            <a [routerLink]="'/providersList'" style="text-decoration: none;">
                <button class="secondary-btn"> <img src="../../../../../assets/icons/arrow-left.svg" />{{"COMMON.Back"|translate}}</button>
            </a>
        </div>
        <div class="profile-header-card">
            <div class="title-area d-flex justify-space-between align-center">
                <div class="d-flex justify-space-between align-center g-10">
                    <img class="provider-icon" src="../../../../assets/icons/providerIcon.jpeg" />
                    <div class="text">
                        <p class="heading">Catalog</p>
                        <p class="sub-heading">&#64;catalogapp.io</p>
                    </div>
                </div>
                <button class="primary-btn">{{"PROVIDERS_LIST_PROFILE.Copy Strategy" |translate}}</button>
            </div>
            <div class="mid-area d-flex justify-space-between align-center pb-10">
                <div>
                    <p>{{"PROVIDERS_LIST_PROFILE.Manager Bio"|translate}}</p>
                    <p class="sub-heading">The Strategy Manager hasn’t provided a BIO</p>
                </div>
                <div class="values d-flex justify-space-between align-center g-20">
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Leverage"|translate}}</p>
                        <p class="sub-heading">500</p>
                    </div>
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Fees"|translate}}</p>
                        <p class="sub-heading">50%</p>
                    </div>
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Min. Investment"|translate}}</p>
                        <p class="sub-heading">$500</p>
                    </div>
                    <div>
                        <p>{{"PROVIDERS_LIST_PROFILE.Invested"|translate}}</p>
                        <p class="sub-heading">$500</p>
                    </div>
                </div>
            </div>
            <div class="desc-area d-flex justify-space-between align-center pb-10">
                <div>
                    <p>{{"PROVIDERS_LIST_PROFILE.Description"|translate}}</p>
                    <p class="sub-heading">Permanent little.</p>
                </div>
                <div class="values d-flex justify-space-between align-center g-20">
                    <div>
                        <img class="values-icon2" src="../../../../../assets/icons/commodities.svg" />
                    </div>
                    <div>
                        <img class="values-icon1" src="../../../../../assets/icons/human.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-20 d-flex justify-space-between g-20">
            <div class="assets-card">
                <div class="d-flex justify-space-between align-center px-20">
                    <h6>{{"PROVIDERS_LIST_PROFILE.Asset Allocation"|translate}}</h6>
                    <div class="assets-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="true">{{"PROVIDERS_LIST_PROFILE.Open"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Closed"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <mat-divider class="assets-divider"></mat-divider>
                <div>
                    <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
                        [xaxis]="barChartOptions.xaxis" [stroke]="barChartOptions.stroke"
                        [tooltip]="barChartOptions.tooltip" [yaxis]="barChartOptions.yaxis"
                        [grid]="barChartOptions.grid" [dataLabels]="barChartOptions.dataLabels"
                        [fill]="barChartOptions.fill" [colors]="barChartOptions.colors"
                        [labels]="barChartOptions.labels" [responsive]="barChartOptions.responsive"
                        [legend]="barChartOptions.legend" [plotOptions]="barChartOptions.plotOptions"
                        [states]="barChartOptions.states"></apx-chart>
                </div>
            </div>
            <div class="returns-card">
                <div class="d-flex justify-space-between align-center px-20">
                    <h6>{{"PROVIDERS_LIST_PROFILE.Return & Investment"|translate}}</h6>
                    <div class="assets-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="true">{{"PROVIDERS_LIST_PROFILE.Returns"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Investors"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Invested"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <mat-divider class="assets-divider"></mat-divider>
                <div>
                    <apx-chart [series]="stackedChartOptions.series" [chart]="stackedChartOptions.chart"
                        [xaxis]="stackedChartOptions.xaxis" [tooltip]="stackedChartOptions.tooltip"
                        [yaxis]="stackedChartOptions.yaxis" [grid]="stackedChartOptions.grid"
                        [dataLabels]="stackedChartOptions.dataLabels" [fill]="stackedChartOptions.fill"
                        [colors]="stackedChartOptions.colors" [labels]="stackedChartOptions.labels"
                        [responsive]="stackedChartOptions.responsive" [legend]="stackedChartOptions.legend"
                        [plotOptions]="stackedChartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
        <div>
            <div class="performance-card">
                <div class="d-flex justify-center">
                    <div class="performance-badge">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                            [hideSingleSelectionIndicator]="true">
                            <mat-button-toggle value="open" [checked]="performanceToggle == 'performance'"
                                (click)="togglePerformance('performance')">{{"PROVIDERS_LIST_PROFILE.Performance"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed" [checked]="performanceToggle == 'risk'"
                                (click)="togglePerformance('risk')">{{"PROVIDERS_LIST_PROFILE.Risk"|translate}}</mat-button-toggle>
                            <mat-button-toggle value="closed" [checked]="performanceToggle == 'portfolio'"
                                (click)="togglePerformance('portfolio')">{{"PROVIDERS_LIST_PROFILE.Portfolio"|translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="performance-tab" *ngIf="performanceToggle == 'performance'">
                    <div class="d-flex justify-space-between align-center pb-20">
                        <h6>{{"PROVIDERS_LIST_PROFILE.Performance"|translate}}</h6>
                        <mat-form-field class="filter-opts" appearance="outline">
                            <mat-label>1 Day: 0.41%</mat-label>
                            <mat-select>
                                <mat-option value="active">{{"COMMON.Active"|translate}}</mat-option>
                                <mat-option value="all">{{"COMMON.All"|translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-divider class="assets-divider"></mat-divider>
                    <div class="d-flex justify-space-between align-center">
                        <div style="width: 70%;">
                            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                                [xaxis]="areaChartOptions.xaxis" [tooltip]="areaChartOptions.tooltip"
                                [yaxis]="areaChartOptions.yaxis" [grid]="areaChartOptions.grid"
                                [dataLabels]="areaChartOptions.dataLabels" [fill]="areaChartOptions.fill"
                                [colors]="areaChartOptions.colors" [labels]="areaChartOptions.labels"
                                [responsive]="areaChartOptions.responsive" [legend]="areaChartOptions.legend"
                                [plotOptions]="areaChartOptions.plotOptions"
                                [stroke]="areaChartOptions.stroke"></apx-chart>
                        </div>
                        <div style="width: 30%;" class="assets-card">
                            <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                                [xaxis]="pieChartOptions.xaxis" [stroke]="pieChartOptions.stroke"
                                [tooltip]="pieChartOptions.tooltip" [yaxis]="pieChartOptions.yaxis"
                                [grid]="pieChartOptions.grid" [dataLabels]="pieChartOptions.dataLabels"
                                [fill]="pieChartOptions.fill" [colors]="pieChartOptions.colors"
                                [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                                [legend]="pieChartOptions.legend" [plotOptions]="pieChartOptions.plotOptions"
                                [states]="pieChartOptions.states"></apx-chart>
                            <div class="pieChart-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Won"|translate}}</p>
                                    <p class="positive">101/83%</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Lost"|translate}}</p>
                                    <p class="negative">20/17%</p>
                                </div>
                            </div>
                            <div class="pieChart-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Best Trade"|translate}}</p>
                                    <p class="positive">238.37</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Lost"|translate}}</p>
                                    <p class="negative">339.47</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="risk-tab" *ngIf="performanceToggle == 'risk'">
                    <div class="d-flex justify-space-between align-center g-20 pb-20">
                        <div class="trading-card">
                            <h6>{{"PROVIDERS_LIST_PROFILE.Trading Frequency"|translate}}</h6>
                            <apx-chart [series]="riskStackedChartOptions.series" [chart]="riskStackedChartOptions.chart"
                                [xaxis]="riskStackedChartOptions.xaxis" [tooltip]="riskStackedChartOptions.tooltip"
                                [yaxis]="riskStackedChartOptions.yaxis" [grid]="riskStackedChartOptions.grid"
                                [dataLabels]="riskStackedChartOptions.dataLabels" [fill]="riskStackedChartOptions.fill"
                                [colors]="riskStackedChartOptions.colors" [labels]="riskStackedChartOptions.labels"
                                [responsive]="riskStackedChartOptions.responsive"
                                [legend]="riskStackedChartOptions.legend"
                                [plotOptions]="riskStackedChartOptions.plotOptions"></apx-chart>
                        </div>
                        <div class="strategy-card">
                            <div class="d-flex justify-space-between">
                                <h6>{{"PROVIDERS_LIST_PROFILE.Strategy Stats"|translate}}</h6>
                                <div class="badge d-flex justify-space-between g-10">
                                    <p>{{"PROVIDERS_LIST_PROFILE.Risk"|translate}}</p>
                                    <div class="badge-count">
                                        <p>10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Avg. Profit Per Trade"|translate}}</p>
                                    <p class="positive">$33.67</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Avg. Loss Per Trade"|translate}}</p>
                                    <p class="negative">-$77.28</p>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Trade Avg. Duration"|translate}}</p>
                                    <p>3 Days</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Sharpe Ratio"|translate}}</p>
                                    <p>0.25</p>
                                </div>
                            </div>
                            <div class="strategy-value d-flex justify-space-between align-center pb-10">
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Max. Drawdown"|translate}}</p>
                                    <p>89.25</p>
                                </div>
                                <div>
                                    <p>{{"PROVIDERS_LIST_PROFILE.Max. Drawdown Time"|translate}}</p>
                                    <p>13/04/2024</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="portfolio-tab" *ngIf="performanceToggle == 'portfolio'">
                    <div class="d-flex justify-space-between align-center g-20 pb-20">
                        <div class="porflio-card">
                            <apx-chart [series]="portfolioChartOptions1.series" [chart]="portfolioChartOptions1.chart"
                                [xaxis]="portfolioChartOptions1.xaxis" [stroke]="portfolioChartOptions1.stroke"
                                [tooltip]="portfolioChartOptions1.tooltip" [yaxis]="portfolioChartOptions1.yaxis"
                                [grid]="portfolioChartOptions1.grid" [dataLabels]="portfolioChartOptions1.dataLabels"
                                [fill]="portfolioChartOptions1.fill" [colors]="portfolioChartOptions1.colors"
                                [labels]="portfolioChartOptions1.labels"
                                [responsive]="portfolioChartOptions1.responsive"
                                [legend]="portfolioChartOptions1.legend"
                                [plotOptions]="portfolioChartOptions1.plotOptions"
                                [states]="portfolioChartOptions1.states"></apx-chart>
                        </div>
                        <div class="porflio-card">
                            <apx-chart [series]="portfolioChartOptions2.series" [chart]="portfolioChartOptions2.chart"
                                [xaxis]="portfolioChartOptions2.xaxis" [stroke]="portfolioChartOptions2.stroke"
                                [tooltip]="portfolioChartOptions2.tooltip" [yaxis]="portfolioChartOptions2.yaxis"
                                [grid]="portfolioChartOptions2.grid" [dataLabels]="portfolioChartOptions2.dataLabels"
                                [fill]="portfolioChartOptions2.fill" [colors]="portfolioChartOptions2.colors"
                                [labels]="portfolioChartOptions2.labels"
                                [responsive]="portfolioChartOptions2.responsive"
                                [legend]="portfolioChartOptions2.legend"
                                [plotOptions]="portfolioChartOptions2.plotOptions"
                                [states]="portfolioChartOptions2.states"></apx-chart>
                        </div>
                        <div class="porflio-card">
                            <apx-chart [series]="portfolioChartOptions3.series" [chart]="portfolioChartOptions3.chart"
                                [xaxis]="portfolioChartOptions3.xaxis" [stroke]="portfolioChartOptions3.stroke"
                                [tooltip]="portfolioChartOptions3.tooltip" [yaxis]="portfolioChartOptions3.yaxis"
                                [grid]="portfolioChartOptions3.grid" [dataLabels]="portfolioChartOptions3.dataLabels"
                                [fill]="portfolioChartOptions3.fill" [colors]="portfolioChartOptions3.colors"
                                [labels]="portfolioChartOptions3.labels"
                                [responsive]="portfolioChartOptions3.responsive"
                                [legend]="portfolioChartOptions3.legend"
                                [plotOptions]="portfolioChartOptions3.plotOptions"
                                [states]="portfolioChartOptions3.states"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="provider-list-profile-table pb-20">
            <div class="d-flex justify-space-between align-center">
                <mat-form-field class="search-provider-field" appearance="outline">
                    <mat-icon color="secondary" matPrefix>search</mat-icon>
                    <mat-label>{{"PROVIDERS_LIST_PROFILE.Search"|translate}}</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option.name}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <div class="assets-badge">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                        [hideSingleSelectionIndicator]="true">
                        <mat-button-toggle value="open" [checked]="true">{{"PROVIDERS_LIST_PROFILE.Open"|translate}}</mat-button-toggle>
                        <mat-button-toggle value="closed">{{"PROVIDERS_LIST_PROFILE.Closed"|translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div>
                <ag-grid-angular class="ag-theme-alpine pb-20" style="height: 500px;width: 100%;" [rowData]="rowData"
                [columnDefs]="colDefs" [suppressRowHoverHighlight]="true">
            </ag-grid-angular>
            </div>
        </div>
    </mat-card-content>
</mat-card>