.profile-header-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
    .provider-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
      }
}
.assets-card {
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px 0px #1018281A;
    padding: 20px 24px;
    border-radius: 8px;
}
.sub-heading{
    font-size: 14px;
    color: #667085;
}
.values-icon1{
    height: 50px;
    width: 80px;
}
.values-icon2{
    height: 50px;
    width: 120px;
}