<div id="cellChart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [colors]="chartOptions.colors"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
    ></apx-chart>
</div>