<div class="sidenav-parent">
    <div class="sidenav-logo">
        <img src="../../../../assets/logo/ICM Logo White 1.png" />
    </div>
    <div class="sidenav-menu">
        <div class="search-bar">
            <img src="../../../../assets/icons/searchIcon.png" />
            <input type="text" placeholder="Search" />
        </div>
        <div class="sidebar-menu-items">
            <ul class="menu-list-top">
                <a [routerLink]="'/home'">
                    <li routerLinkActive="menu-active">
                        <img src="../../../../assets/icons/Home Icon.png" />
                        <p>{{"SIDEBAR.Home"|translate}}</p>
                    </li>
                </a>
                <a [routerLink]="'/providers'" >
                    <li routerLinkActive="menu-active">
                        <img src="../../../../assets/icons/Portfolio Icon.png" />
                        <p>{{"SIDEBAR.My Providers"|translate}}</p>
                    </li>
                </a>
                <a [routerLink]="'/account'" routerLinkActive="menu-active">
                    <li routerLinkActive="menu-active">
                        <img src="../../../../assets/icons/User Icon.png" />
                        <p> {{"SIDEBAR.My Accounts"|translate}}</p>

                    </li>
                </a>
                <a [routerLink]="'/transactions'" routerLinkActive="menu-active">
                    <li routerLinkActive="menu-active">
                        <img src="../../../../assets/icons/Transaction Icon.png" />
                        <p> {{"SIDEBAR.Transaction History"|translate}}</p>
                    </li>
                </a>
                <a [routerLink]="'/providersList'" routerLinkActive="menu-active">
                    <li routerLinkActive="menu-active">
                        <img src="../../../../assets/icons/star.png" />
                        <p>{{"SIDEBAR.Providers"|translate}}</p>
                    </li>
                </a>
                <a [routerLink]="'/reports'" routerLinkActive="menu-active">
                    <li routerLinkActive="menu-active">
                        <img class="reports-icon" src="../../../../assets/icons/file.png" />
                        <p>{{"SIDEBAR.Reports"|translate}}</p>
                    </li>
                </a>
            </ul>
            <ul class="menu-list-bottom">
                <li>
                    <img src="../../../../assets/icons/sun-Icon-white.png" />
                    <p>{{"SIDEBAR.Dark/Light Mode"|translate}}</p>
                </li>
                <li [matMenuTriggerFor]="languageMenu">
                    <img src="../../../../assets/icons/GB.png" />
                    <p>{{"SIDEBAR.Language"|translate}}</p>
                </li>
                <li>
                    <img src="../../../../assets/icons/settingsIcon.png" />
                    <p>{{"SIDEBAR.Settings"|translate}}</p>
                </li>
                <li class="logout-item">
                    <img src="../../../../assets/icons/Avatar.png" />
                    <div>
                        <p>Olivia Rhye</p>
                        <span>olivia.untitledui.com</span>
                    </div>
                    <a>
                        <img src="../../../../assets/icons/logout.png" />
                    </a>
                </li>
            </ul>
            <mat-menu #languageMenu="matMenu" class="languageMenu">
                <button mat-menu-item *ngFor="let lang of languages" (click)="switchLanguage(lang.code)">
                  {{ lang.label }}
                </button>
              </mat-menu>              
        </div>
    </div>
</div>