/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-alpine.css';

:root {
    --primaryBlue: #094B82; 
    --primaryWhite:#FFFFFF;
    --mat-select-panel-background-color: white;
    --mat-autocomplete-background-color: white; /* Replace #f0f0f0 with your desired color */
  }


html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--primaryBlue);
}

.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.align-baseline{
  align-items: baseline;
}
.text-center{
  text-align: center;
}

.g-10{
  gap: 10px;
}
.g-20{
  gap: 20px;
}
.w-100{
  width: 100%;
}

h1{
  margin: unset !important;
}
h3{
  margin: unset !important;
}
h4{
  margin: unset !important;
}
h5{
  margin: unset !important;
}
h6{
  margin: unset !important;
}
p{
  margin: unset !important;
}
.pb-10{
  padding-block: 10px;
}
.pb-20{
  padding-block: 20px;
}

.section-card{
  background: white;
  display: flex;
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  margin-block:10px;
  min-height: 100vh;
}
.section-card-content{
  width: 100%;
}

.primary-btn{
  background: var(--primaryBlue);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  border: unset;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.secondary-btn{
  background: #ffffff;
  color: black;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.edit-btn{
  padding: 9px 15px;
  border: 1px solid #D0D5DD;
  font-size: 15px;
  font-weight: 600;
  color: #344054;
  background: none;
  border-radius: 6px;
  margin-block: 20px;
  cursor: pointer;
}

.header-title{
  h5{
      font-size: 30px;
      color:#101828;
  }
  p{
      font-size: 16px;
      color: #667085;
  }
}

.stats{
  margin-top: 40px;
}
.stats-card{
  border: 1px solid #EAECF0;
box-shadow: 0px 1px 3px 0px #1018281A;

  width: 246px;
  height: 140px;
  padding: 20px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  h6{
      color: #101828;
      font-size: 16px;
  }
  h3{
      color: #101828;
      font-size: 36px;
      font-weight: 600;
  }
  p{
      color:#667085
  }
}
.metrics-table{
  margin-block:40px;
  .table{
      margin-block:20px;
      box-shadow: 0px 1px 3px 0px #1018281A;
      border-radius: 8px;
  }
}

.ag-theme-alpine{
  --ag-header-column-resize-handle-display:none !important;
  --ag-header-background-color :var(--primaryWhite);
  --ag-background-color:#F9FAFB;
  --ag-odd-row-background-color:#F9FAFB;
  --ag-border-radius:8px;
  --ag-border-color:#EAECF0;
  --ag-card-shadow:0px 1px 2px 0px #1018280F;
  --ag-row-height : 60px;
  --ag-header-foreground-color:#667085;
}
.ag-theme-alpine .ag-header-row {
  font-weight: 500;
  font-size: 15px;
}
.ag-theme-alpine .ag-row{
  font-size: 15px;
}

::ng-deep .mat-mdc-menu-panel{
  background-color: white !important;
}
::ng-deep .mat-mdc-menu-content {
  background-color: white !important;
}
::ng-deep div.mat-mdc-autocomplete-panel {
  background-color: white !important;
}




