.header-title{
    h5{
        font-size: 30px;
        color:#101828;
    }
    p{
        font-size: 16px;
        color: #667085;
    }
}

.stats{
    margin-top: 40px;
}
.stats-card{
    border: 1px solid #EAECF0;
box-shadow: 0px 1px 3px 0px #1018281A;

    width: 226px;
    height: 140px;
    padding: 20px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    h6{
        color: #101828;
        font-size: 16px;
    }
    h3{
        color: #101828;
        font-size: 36px;
        font-weight: 600;
    }
    p{
        color:#667085
    }
}

.provider-table{
    margin-block:40px;
    .table{
        margin-block:20px;
    }
}

  