::ng-deep .beProvider-dialog{
    width: 600px !important;
    border-radius: 10px !important;
    .mat-mdc-dialog-title{
        margin: unset !important;
        padding-bottom: 10px !important;
    }
    .mat-mdc-dialog-surface{
        border-radius: 10px !important;
        background: white !important;
        padding: 20px !important;
    }
    .commonInfo-Email{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
    .commonInfo-Scope{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
}

  ::ng-deep .beFollower-dialog{
    width: 850px !important;
    border-radius: 10px !important;
    max-width: 850px !important;
    .parent-div{
        width: 100%;
        .child-div-left{
            width: 60%;
            border-right: 1px solid #EAECF0;
        }
        .child-div-right{
            width: 40%;
            padding-left: 10px;
        }
    }
    .mat-mdc-dialog-title{
        margin: unset !important;
        padding-bottom: 10px !important;
    }
    .mat-mdc-dialog-surface{
        border-radius: 10px !important;
        background: white !important;
        padding: 20px !important;
    }
    .commonInfo-Email{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
    .commonInfo-Scope{
        width: 100% !important;
        .mdc-text-field{
            background-color: white;
            border: 1px solid;
            border-bottom: 0px;
            margin-bottom: -1.25em
        }
    }
  }