<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{ 'HOME.HELLO' | translate }}</h5>
                    <p>{{'HOME.Homepage with overall statistics' | translate}}</p>
                </div>
                <div class="header-buttons d-flex justify-space-between align-center g-20">
                    <button class="primary-btn" (click)="openBeProviderDialog()">
                        <img src="../../../../assets/icons/plusIcon.png" />
                        {{'HOME.Be A Provider' | translate}}
                    </button>
                    <button class="primary-btn" (click)="openBeFollowerDialog()">
                        <img src="../../../../assets/icons/plusIcon.png" />
                        {{'HOME.Be A Follower'|translate}}
                    </button>
                </div>
            </div>
            <div class="stats d-flex justify-space-between align-center g-20">
                <div class="stats-card">
                    <h6>{{'HOME.Monthly Fees' | translate}}</h6>
                    <h3>$ 120.00</h3>
                    <p>{{'COMMON.September' | translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{'HOME.Followers' | translate}}</h6>
                    <h3>10</h3>
                    <p>{{'COMMON.Active' | translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{'HOME.Followers Growth' | translate}}</h6>
                    <h3>0</h3>
                    <p>{{'COMMON.September' | translate}}</p>
                </div>
                <div class="stats-card">
                    <h6>{{'HOME.Closed Profit (own)' | translate}}</h6>
                    <h3>$ 450.00</h3>
                    <p>{{'COMMON.September' | translate}}</p>
                </div>
            </div>

            <div class="metrics-table">
                <div class="header-title">
                    <h5>{{'HOME.Provider Metrics' | translate}}</h5>
                    <p>{{'HOME.Metrics of individual providers' | translate}}</p>
                </div>
                <div class="table">
                    <ag-grid-angular class="ag-theme-alpine" style="height: 400px" [rowData]="rowData"
                        [columnDefs]="colDefs" [suppressRowHoverHighlight]="true">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>