<mat-card appearance="outlined" class="section-card">
    <mat-card-content class="section-card-content">
        <div class="home-card">
            <div class="header d-flex justify-space-between align-center">
                <div class="header-title">
                    <h5>{{"PROVIDERS_LIST.Providers"|translate}}</h5>
                    <p>{{"PROVIDERS_LIST.List of providers"|translate}}</p>
                </div>
                <div class="header-buttons">
                    <!-- <form class="search-provider-form">
                        <mat-form-field class="search-provider-field" appearance="outline">
                            <mat-label>Search</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{option.name}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </form> -->
                </div>
            </div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="providerProfile-tabGroup">
                <mat-tab *ngFor="let tab of tabLabels" [label]="tab.label">
                    <div class="providersList-header-buttons d-flex justify-space-between align-center pb-20">
                        <div class="d-flex justify-space-between g-10 align-center">
                            <div class="d-flex justify-space-between providerProfile-tabFilters g-10 align-center">
                                <h5 class="active"> {{"PROVIDERS_LIST.Any"|translate}} </h5>
                                <h5> {{"PROVIDERS_LIST.Forex"|translate}} </h5>
                                <h5> {{"PROVIDERS_LIST.Indices"|translate}} </h5>
                                <h5> {{"PROVIDERS_LIST.Crypto"|translate}} </h5>
                                <h5> {{"PROVIDERS_LIST.Algorithmic"|translate}} </h5>
                                <h5> {{"PROVIDERS_LIST.Commodities"|translate}} </h5>
                            </div>
                            <div class="d-flex justify-center g-10 align-center">
                                <!-- <button class="secondary-btn">
                                    <img src="../../../../assets/icons/rotateIcon.svg" />
                                    Refresh
                                </button> -->
                                <!-- <img src="../../../../assets/icons/searchIcon.svg" /> -->
                                    <mat-form-field class="search-provider-field" appearance="outline">
                                        <mat-icon color="secondary" matPrefix>search</mat-icon>
                                        <mat-label>{{"PROVIDERS_LIST.Search"|translate}}</mat-label>
                                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            @for (option of filteredOptions | async; track option) {
                                            <mat-option [value]="option">{{option.name}}</mat-option>
                                            }
                                        </mat-autocomplete>
                                    </mat-form-field>
                            </div>
                        </div>
                        <button class="secondary-btn switchMode-btn" [ngClass]="viewMode =='cards' ? 'secondary-btn-active':''" (click)="switchMode('cards')">
                            <img src="../../../../assets/icons/gridIcon.svg" />
                        </button>
                        <button class="secondary-btn switchMode-btn" [ngClass]="viewMode =='table' ? 'secondary-btn-active':''" (click)="switchMode('table')">
                            <img src="../../../../assets/icons/listIcon.svg" />
                        </button>
                        <button class="secondary-btn">
                            <img src="../../../../assets/icons/filterIcon.svg" />
                            {{"PROVIDERS_LIST.More Filters"|translate}}
                        </button>
                    </div>
                    <div class="providersList-section">
                        <div class="providersList-cards" *ngIf="viewMode == 'cards'">
                            <mat-card *ngFor="let card of cards" appearance="outlined" class="providersList-card">
                                <mat-card-content>
                                    <div class="header d-flex align-center justify-space-between">
                                        <div class="title d-flex align-start g-10">
                                            <a routerLink="/providersList/profile/1">
                                            <img class="provider-icon" src="../../../../assets/icons/providerIcon.jpeg" />
                                            <div class="text">
                                                <p class="heading">Catalog</p>
                                                <p class="sub-heading">catalogapp.io</p>
                                            </div>
                                            </a>
                                        </div>
                                        <div class="info d-flex align-center justify-space-between g-10">
                                            <img class="countryIcon" src="../../../../assets/icons/southAfricaIcon.svg" />
                                            <img class="saveIcon" src="../../../../assets/icons/saveIcon.png" />
                                        </div>
                                    </div>
                                    <div class="main">
                                        <div class="main-head pb-20 d-flex justify-space-between align-center">
                                            <p class="title">Return 1M</p>
                                            <p class="value d-flex align-center">
                                                <img class="saveIcon" src="../../../../assets/icons/arrow-up.png" /> 198.42%
                                            </p>
                                        </div>
                                        <div id="chart" class="providersList-chart">
                                            <apx-chart
                                              [series]="chartOptions.series"
                                              [chart]="chartOptions.chart"
                                              [xaxis]="chartOptions.xaxis"
                                              [stroke]="chartOptions.stroke"
                                              [tooltip]="chartOptions.tooltip"
                                              [yaxis]="chartOptions.yaxis"
                                              [grid]="chartOptions.grid"
                                              [dataLabels]="chartOptions.dataLabels"
                                              [fill]="chartOptions.fill"
                                              [colors]="chartOptions.colors"
                                              [labels]="chartOptions.labels"
                                              [responsive]="chartOptions.responsive"
                                              [legend]="chartOptions.legend"
                                            ></apx-chart>
                                        </div>
                                        <div class="main-content d-flex align-center flex-wrap justify-space-between g-20">
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Fee"|translate}}</p>
                                                <p class="subtitle">50%</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Win Ratio"|translate}}</p>
                                                <p class="subtitle">5.05</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Drawdown"|translate}}</p>
                                                <p class="subtitle">50%</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Investors"|translate}}</p>
                                                <p class="subtitle">1</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Invested"|translate}}</p>
                                                <p class="subtitle">$500</p>
                                            </div>
                                            <div class="text d-flex flex-column">
                                                <p class="title">{{"PROVIDERS_LIST.Own Funds"|translate}}</p>
                                                <p class="subtitle">$2,209</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="content d-flex justify-space-between align-center">
                                            <div class="badge d-flex justify-space-between g-10">
                                                <p>{{"PROVIDERS_LIST.Risk"|translate}}</p>
                                                <div class="badge-count">
                                                    <p>10</p>
                                                </div>
                                            </div>
                                            <button class="edit-btn content-btn">
                                                {{"PROVIDERS_LIST.Copy"|translate}}
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="providersList-table" *ngIf="viewMode == 'table'">
                            <ag-grid-angular class="ag-theme-alpine" style="height: 500px;width: 100%;" [rowData]="rowData"
                            [columnDefs]="colDefs" [suppressRowHoverHighlight]="true">
                        </ag-grid-angular>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            
        </div>
    </mat-card-content>
</mat-card>