.search-provider-form{
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .search-provider-field{
    width: 600px;
  }
  .search-provider-field .mat-form-field-outline {
    border-color: #D0D5DD !important; /* Replace #your-color with your desired border color */
  }

  .divider{
    font-size: 40px;
    padding-top: 5px;
    color: #D0D5DD;
    font-weight: 100;
}

::ng-deep .providerProfile-tabGroup .mdc-tab__text-label{
    font-size: 20px !important;
    font-weight: 400;
    color: #667085 !important;
}
::ng-deep .providerProfile-tabGroup .mdc-tab{
    padding: 0 50px !important;
}

.providersList-card{
  width: 320px;
  // .mat-mdc-card-content{
  //   padding: unset !important;
  // }
  // .mat-mdc-card-content:first-child{
  //   padding: unset !important;
  // }
  // .mat-mdc-card-content:last-child{
  //   padding: unset !important;
  // }
  .header{
    .title{
      .text{
        .heading{
          font-size: 14px;
          font-weight: 500;
          color: #101828;
        }
        .sub-heading{
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          color: #667085;
        }
      }
    }
  }
  .main{
    .main-head{
      .title{
        color: #667085;
        font-weight: 400;
        font-size: 14px;
      }
      .value{
        color: #12B76A;
      }
    }
    .main-content{
      .text{
        width: 28%;
        .title{
          font-size: 14px;
          color: #101828;
        }
        .subtitle{
          color: #667085;
        }
      }
    }
  }
  .footer{
    border-top: 2px solid #EAECF0;
    margin-block:20px;
    .content{
      margin-top: 20px;
      .badge{
        padding: 4px 4px 4px 12px;
        background-color: #FEF3F2;
        border-radius: 16px;
        p{
          color: #B42318;
          font-size: 12px;
        }
        .badge-count{
          background-color: #D92D20;
          padding: 2px 8px;
          border-radius: 16px;
          p{
            color: white;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
      .content-btn{
        margin-block: unset !important;
        font-weight: 400;
      }
    }
  }
}
.provider-icon{
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.saveIcon{
  height: 20px;
  width: 20px;
}
.countryIcon{
  height: 30px;
  width: 30px;
}